
# Test
[[channel]]
name = "test"
source = "printf \"foo\nfoo\nfee\nfii\n\""

# Shell history
[[channel]]
name = "zsh-history"
source = "sed '1!G;h;$!d' $HOME/.zsh_history | cut -d\";\" -f 2-"

[[channel]]
name = "bash-history"
source = "sed '1!G;h;$!d' $HOME/.bash_history"

[[channel]]
name = "fish-history"
source = "fish -c 'history'"

# Shell variables

[[channel]]
name = "env"
source = "printenv | sort | sed \"s/=/: /g\""
delimiter = ":"

[[channel]]
name = "alias"
source = "fish -c alias"
delimiter = ":"

# Processes

[[channel]]
name = "ps"
source = "ps -ax -o pid,command | sed 's/^ * //g' | sed -r 's/ +/;/'"
delimiter = ";"
run = [
  "kill {0}"
]
preview = [
  "echo \"PID: {0}, NAME: {1}\"",
]

# FILES

[[channel]]
name = "text"
source = "rg ."
delimiter = ":"
preview = [
  "bat -n --color=always {0}",
]

[[channel]]
name = "files"
source = "fd . --type f"
delimiter = ":"
preview = [
  "bat {0} --color=always",
]

[[channel]]
name = "dirs"
source = 'fd . --type d | sed "s/\/$//g"'
delimiter = ":"
run = [
  "echo cd {0}",
  "echo tar -cvf {0}.tar.gz {0}",
]
preview = [
  "ls -lha --color=always {0}",
  "eza -la --color=always {0}",
]

# GIT
[[channel]]
name = "git-repos"
source = 'fd git ~/ --type d --no-ignore --hidden | rg "\.git/" | rg -v ".cargo|runtime"'
delimiter = ":"
preview = [
  "cd {} && git log -n 200 --pretty=medium --all --graph --color",
]

[[channel]]
name = "git-diff"
source = "git diff --name-only"
preview = [
  "git diff --color=always {0} | delta --minus-style red --plus-style green",
  "git diff --color=always {0}",
]

[[channel]]
name = "git-reflog"
source = 'git reflog'
preview = [
  'git show -p --stat --pretty=fuller --color=always {0}',
]

[[channel]]
name = "git-log"
source = "git log --oneline --date=short --pretty=\"format:%h %s %an %cd\" \"$@\""
preview = [
  "git show -p --stat --pretty=fuller --color=always {0}",
]

[[channel]]
name = "git-branch"
source = "git --no-pager branch --all --format=\"%(refname:short)\""
preview = [
  "git show -p --stat --pretty=fuller --color=always {0}",
]

# Docker
[[channel]]
name = "docker-images"
source = "docker image list --format \"{{.ID}}\""
preview = [
  "docker image inspect {0} | jq -C",
]

# S3
[[channel]]
name = "s3-buckets"
source = "aws s3 ls | cut -d \" \" -f 3"
preview = [
  "aws s3 ls s3://{0}",
]

