
# Test
[[channel]]
name = "test"
source = "printf \"foo\nfoo\nfee\nfii\n\""

# Shell history
[[channel]]
name = "zsh-history"
source = "sed '1!G;h;$!d' $HOME/.zsh_history | cut -d\";\" -f 2-"

[[channel]]
name = "bash-history"
source = "sed '1!G;h;$!d' $HOME/.bash_history"

[[channel]]
name = "fish-history"
source = "fish -c 'history'"

# Shell variables

[[channel]]
name = "env"
source = "printenv | sort | sed \"s/=/: /g\""

[[channel]]
name = "alias"
source = "fish -c alias"

# Processes

[[channel]]
name = "ps"
source = "ps -ax -o pid,command | sed 's/^ * //g' | sed -r 's/ +/;/'"
delimiter = ";"
run = [
  { command = "kill {0}", exit = false },
]
preview = [
  "echo \"PID: {0}, NAME: {1}\"",
]

# FILES

[[channel]]
name = "text"
source = "rg ."
preview = [
  "bat -n --color=always {0}",
]

[[channel]]
name = "files"
source = "fd . --type f"
preview = [
  "bat {0} --color=always",
]
run = [
  { command = "touch {0}.foo", exit = false },
]
transition = [
  { command = "fish -c \"path dirname {} | sed 's/$/\\//g'\"", channel = "dirs" },
]
refresh = true

[[channel]]
name = "dirs"
source = 'fd . --type d'
run = [
  { command = "cd {0}", exit = true },
  { command = "tar -cvf archive.tar.gz {0}", exit = false },
]
preview = [
  "ls -lha --color=always {0}",
  "eza -la --color=always {0}",
]
transition = [
  { command = "ls {} | sd '^' '{}' | sed '$ d'", channel = "files" },
]
refresh = true

# GIT
[[channel]]
name = "git-repos"
source = 'fd git ~/ --type d --no-ignore --hidden | rg "\.git/" | rg -v ".cargo|runtime"'
preview = [
  "cd {} && git log -n 200 --pretty=medium --all --graph --color",
]

[[channel]]
name = "git-diff"
source = "git diff --name-only"
preview = [
  "git diff --color=always {0} | delta --minus-style red --plus-style green",
  "git diff --color=always {0}",
]

[[channel]]
name = "git-reflog"
source = 'git reflog'
preview = [
  'git show -p --stat --pretty=fuller --color=always {0}',
]

[[channel]]
name = "git-log"
source = "git log --oneline --date=short --pretty=\"format:%h %s %an %cd\" \"$@\""
preview = [
  "git show {0} --stat --color=always",
  "git diff {0}^ {0} --color=always",
  ]
transition = [
  { command = "git diff {0}^ {0} --color=always --name-only", channel = "files" },
]

[[channel]]
name = "git-branch"
source = "git --no-pager branch --all --format=\"%(refname:short)\""
preview = [
  "git show -p --stat --pretty=fuller --color=always {0}",
]

[[channel]]
name = "git-status"
source = "echo $(git diff --name-only --diff-filter=AM | sed 's/^/modified: /g') $(git diff --name-only --cached --diff-filter=AM | sed 's/^/staged: /g') | sed 's/modified: /\nmodified: /g' | sed 's/staged: /\nstaged: /g' | sed '/^$/d'"
preview = [
  "git show -p --stat --pretty=fuller --color=always {0}",
]

# Docker
[[channel]]
name = "docker-images"
source = "docker image list --format \"{{.ID}}\""
preview = [
  "docker image inspect {0} | jq -C",
]

# S3
[[channel]]
name = "s3-buckets"
source = "aws s3 ls | cut -d \" \" -f 3"
preview = [
  "aws s3 ls s3://{0}",
]

